.head1 li{
	display:inline-block;
	height: 70px;
	list-style-type:non
	}
a {
	text-decoration-line:none;
	}
.head2 {

	text-align:center;
	height:200px;
	}
.con1 {
	display:inline-block;
	width: 33%;
	height:80px;
	background-color:grey;
	color:white;
	text-align:center;
	}
.con2 {
	color:#003399;
	background-color:#00FFFF;
	font-size:14px;
	}
	
.con3  {
	display:inline-block;
	width:50%;
	}
.con4 {
	width: 30px;
	padding:30px;
	background-color:#333333;
	color:white;
	}
	span {
	display:inline-block;
	}